<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1: Programming and Plotting in Python Part I  & Constructing Support Networks for Academic Success</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
<!--         <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td> -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>8:30 AM - 9:00 AM</td>        <!-- time    -->
        <td>Breakfast</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>9:00 AM - 9:30 AM</td>        <!-- time    -->
        <td>Introductions & Ice-Breaker Activity</td>        <!-- content -->
      </tr>
       <tr>               <!-- row 3   -->
        <td>9:30 AM - 9:50 AM</td>        <!-- time    -->
        <td>Running & Quitting Python</td>        <!-- content -->
      </tr>
       <tr>               <!-- row 3   -->
        <td>9:50 AM - 10:20 AM</td>        <!-- time    -->
        <td>Variables and Assignment</td>        <!-- content -->
      </tr>
       <tr>               <!-- row 3   -->
        <td>10:20 - 10:30 AM</td>        <!-- time    -->
        <td>Coffee Break</td>        <!-- content -->
      </tr>
       <tr>               <!-- row 3   -->
        <td>10:30 AM - 11:00 AM</td>        <!-- time    -->
        <td>Data Types & Type Conversion</td>        <!-- content -->
      </tr>
       <tr>               <!-- row 3   -->
        <td>11:00 AM - 11:20 AM</td>        <!-- time    -->
        <td>Built-in Functions & Help</td>        <!-- content -->
      </tr> 
      <tr>               <!-- row 3   -->
        <td>11:20 AM - 12:00 PM</td>        <!-- time    -->
        <td>Libraries & Reading Tabular Data</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:00 PM - 1:00 PM</td>        <!-- time    -->
        <td>Lunch</td>        <!-- content -->
      </tr>     
       <tr>               <!-- row 3   -->
        <td>1:00 PM - 1:30 PM</td>        <!-- time    -->
        <td>Pandas DataFrames</td>        <!-- content -->
      </tr>
       <tr>               <!-- row 3   -->
        <td>1:30 PM - 2:15 PM</td>        <!-- time    -->
        <td>Lists & For Loops</td>        <!-- content -->
      </tr>
       <tr>               <!-- row 3   -->
        <td>2:15 PM - 2:25 PM</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>2:25 PM - 3:30 PM:</td>        <!-- time    -->
        <td>Conditionals</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:30 PM - 5:00 PM</td>        <!-- time    -->
        <td>Constructing a Mentor Map for Academic Success</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2:  Programming and Plotting in Python Part II & Demystifying the Transfer Process</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>8:30 AM - 9:00 AM</td>        <!-- time    -->
        <td>Breakfast</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00 AM - 10:50 AM</td>        <!-- time    -->
        <td>Looping Over Data Sets & Writing Functions</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:50 AM - 11:00 AM</td>        <!-- time    -->
        <td>Coffee Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:00 AM - 12:00 PM</td>        <!-- time    -->
        <td>Variable Scope & Programming Style</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:00 PM - 1:00 PM</td>        <!-- time    -->
        <td>Lunch w/ advisor from the UCSD Transfer Student Services</td>        <!-- content -->
      </tr> 
      <tr>               <!-- row 3   -->
        <td>1:00 PM - 2:00 PM</td>        <!-- time    -->
        <td>Demystifying the Transfer Process w/ UCSD Transfer Student Services (Q&A)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>2:00 PM - 2:15 PM</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>2:15 PM - 3:20 PM</td>        <!-- time    -->
        <td>Plotting</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:20 PM - 3:30 PM</td>        <!-- time    -->
        <td>Coffee Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:30 PM - 5:00 PM</td>        <!-- time    -->
        <td>Introduction to Visualization & Wrap-up</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3: Introduction to Unix Shell</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>8:30 AM - 9:00 AM</td>        <!-- time    -->
        <td>Breakfast</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00 AM - 10:00 AM</td>       
        <td>Introducing the Shell & Navigating Files and Directories</td> 
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:00 AM - 10:10 AM</td>        <!-- time    -->
        <td>Coffee Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td>10:10 AM - 11:00 AM</td>        <!-- time    -->
        <td>Working with Files and Directories</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:10 AM - 12:00 PM</td>       
        <td>Pipes & Filters</td> 
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:00 PM - 1:00 PM</td>        <!-- time    -->
        <td>Lunch</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td>1:00 PM  - 2:00 PM</td>        <!-- time    -->
        <td>Tour of Supercomputer Center</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>2:00 PM - 2:05 PM</td>       
        <td>Workshop Photo in front of SDSC! 📸</td> 
      </tr>
      <tr>               <!-- row 3   -->
        <td>2:05 PM - 2:50 PM</td>        <!-- time    -->
        <td>Loops</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>2:50 PM - 3:00 PM</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td>3:00 PM - 3:45 PM</td>        <!-- time    -->
        <td>Shell Scripts</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>3:45 PM - 4:00 PM</td>       
        <td>Break</td> 
      </tr>
      <tr>               <!-- row 3   -->
        <td>4:00 PM - 5:00 PM</td>        <!-- time    -->
        <td>Finding Things 🔍</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4: Foundations of Astro Data Science Part I & Post-Transfer Survival Strategies</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>8:30 AM - 9:00 AM</td>        <!-- time    -->
        <td>Breakfast</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00 AM -  10:30 AM</td>        <!-- time    -->
        <td>SDSC Staff Member Guest Lecture</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:30 AM -  10:40 AM</td>        <!-- time    -->
        <td>Coffee Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td>10:40 AM - 12:00 PM</td>        <!-- time    -->
        <td>Using Astronomical Data Query Language (ADQL) to Access Gaia Data</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>12:00 PM - 1:00 PM</td>        <!-- time    -->
        <td>Lunch</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>1:00 PM - 2:00 PM</td>        <!-- time    -->
        <td>Selecting Stars in the GD-1 Stellar Stream Part I</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td>2:00 PM - 2:10 PM</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>2:15 PM - 3:00 PM</td>        <!-- time    -->
        <td>Triton Transfer Presentation (Post Transfer Survival Strategies) 🔱</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:00 PM - 3:10 PM</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td>3:10 PM - 3:45 PM</td>        <!-- time    -->
        <td>Selecting Stars in the GD-1 Stellar Stream Part II</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>3:55 PM - 5:00 PM</td>        <!-- time    -->
        <td>Introduction to Astropy Tables & Plotting Stellar Positions</td>        <!-- content -->
     </tr> 
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 5: Foundations of Astro Data Science Part II</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>8:30 AM - 9:00 AM</td>        <!-- time    -->
        <td>Breakfast</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00 AM - 10:05 AM</td>        <!-- time    -->
        <td>Introduction to Proper Motions and HDF5 Files</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:05 AM - 10:15 AM</td>        <!-- time    -->
        <td>Coffee Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td>10:15 AM - 11:25 AM</td>        <!-- time    -->
        <td>Selecting Gaia Stars based on Proper Motion</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:25 PM - 11:35 PM</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:30 AM - 12:00 PM</td>        <!-- time    -->
        <td>Joining Astronomical Datasets Part I</td>        <!-- content -->
      </tr>   
      <tr>               <!-- row 3   -->
        <td>12:00 PM - 1:00 PM</td>        <!-- time    -->
        <td>Lunch</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td>1:00 PM - 2:00 PM</td>        <!-- time    -->
        <td>Joining Astronomical Datasets Part II</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>2:00 PM - 3:00 PM</td>        <!-- time    -->
        <td>Selecting Gaia Stars based on Photometry</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:10 PM - 3:20 PM</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:20 PM - 4:50 PM</td>        <!-- time    -->
        <td>Visualizing the GD-1 Stellar Stream</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>4:50 PM - 5:00 PM</td>        <!-- time    -->
        <td>Closing Statements</td>        <!-- content -->
      </tr>  
      <tr>               <!-- row 3   -->
        <td>6:00 PM - 8:00 PM</td>        <!-- time    -->
        <td>End of Workshop Dinner</td>        <!-- content -->
      </tr>  
    </table>
  </div>
</div>
