<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1: Programming and Plotting in Python Part I  & Constructing Support Networks for Academic Success</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
<!--         <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td> -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>8:30 AM - 9:00 AM</td>        <!-- time    -->
        <td>Breakfast</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>9:00 AM - 9:30 AM</td>        <!-- time    -->
        <td>Introductions & Ice-Breaker Activity</td>        <!-- content -->
      </tr>
       <tr>               <!-- row 3   -->
        <td>9:30 AM - 9:45 AM</td>        <!-- time    -->
        <td>Running & Quitting Python</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2:  Programming and Plotting in Python Part II & Demystifying the Transfer Process</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3: Introduction to Unix Shell</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
<!--         <td></td>        1:00 pm - 2:00 pm 
        <td></td>        San Diego Supercomputer Center Tour.  -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4: Foundations of Astro Data Science Part I & Post-Transfer Survival Strategies</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 5: Foundations of Astro Data Science Part II</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
<!--         <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td> -->
      </tr>
    </table>
  </div>
</div>
